@import "tailwindcss";


*{
  font-family: Outfit, sans-serif;
}

.active {
  background-color: #ffebf5;
  border-color: #C586A5;
}

select, input, textarea {
  border: 1px solid gray;
  outline-color: #c586A5;
  border-radius: 4px;
}